.text_logo{
    color: #1f7bd2;
    font-size: 30px;
    text-decoration: solid;
    font-family: Arial, Helvetica, sans-serif;
    
}

.theme_color{
    background-color:  #000000;;
}
.text_theme{
    color: #1f7bd2;
}